tarefa6/app/src/main/java/rpg/util/save.dtd

<!--DTD for saving the game-->
<!ELEMENT saveGame (phaseProperties, hero)>

<!ELEMENT phaseProperties (phase, dificulty)>
<!ELEMENT phase (#PCDATA)>
<!ELEMENT dificulty (#PCDATA)>

<!ELEMENT hero (hLP, hStrength, hLevel, hXp, hWeapon, hClass)>
<!ELEMENT hLP (#PCDATA)>
<!ELEMENT hStrength (#PCDATA)>
<!ELEMENT hLevel (#PCDATA)>
<!ELEMENT hXp (#PCDATA)>
<!ELEMENT hWeapon (#PCDATA)>
<!ELEMENT hClass (#PCDATA)>